{% extends "base.html" %}

{% block title %}Welcome Admin!{% endblock %}

{% block content %}
<div class="background-image">
    <div class="container mt-5">
        <div class="welcome-message">
            <h1 class="text-center">Welcome back Admin!</h1>
            <h2>All Users:</h2>

            <ul style="list-style-type: none;">
            {% for x in values %}
                <li>{{x._id}}.  First Name: {{ x.first_name }}, Last Name: {{ x.last_name }}, Type: {{ x.user_type }}, Email: {{ x.email }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
